/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
!vendor/kareem3d/
!vendor/composer/
!vendor/classpreloader/
!vendor/bin/
!vendor/autoload.php
public/albums


vendor.zip
.idea