/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea

public/albums

!vendor/

vendor/*
!vendor/kareem3d/
!vendor/composer/
!vendor/classpreloader/
!vendor/bin/
!vendor/autoload.php
!vendor/facebook
!vendor/jenssegers
!vendor/mobiledetect
!*.txt