@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/font-awesome-4.0.3/css/font-awesome.min.css";

@images: "../img";

@special-font-color:#CE374A;
@main-bg-color:#FFF;

@special-font:Arial;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.secondary-btn{background:url('@{images}/gradients/black-gradient.jpg'); background:#333; color:#FFF; margin-bottom:5px;}
.secondary-btn:hover{color:#FFF; background:#666;}

ul{ margin: 0px; padding: 0px;}

body {
//  background: #d0a28a;
//  background: url('@{images}/large-bg.jpg') #FFF;
  background:#F9F9F9;
  color: #333;
  font-family: Arial;
}

/* Customize container */
@media (min-width: @screen-md) {
  .container {
    max-width: 1021px;
    .center-block();
  }
}

.large-container{
  width:100%;
  min-height: 1205px;
  background: url('@{images}/main-bg.jpg') no-repeat;
}


.body-container {
//  background:#f5f5f5;
  background: @main-bg-color;
  .make-row();
}

.separator{height:8px; .clearfix();}

.price{
  .before-price{color:#666; font-size:12px; text-decoration: line-through;}
  .actual-price{color:@special-font-color; font-size:14px;}
}

a img{border:0px;}
a{color:inherit;}
a:hover{color:inherit}


.main-title{
   font-size: 20px;
   span{color:#EE3d26}
   color:#333;
   padding:10px;
 }

.main-title-black{
  font-size: 20px;
  padding:10px;
  background: url('@{images}/gradients/black-gradient-2.gif');
  color:#FFF;
}

.footer{
  .make-row();
  .border-bottom-radius(10px);
  margin-top:0px; text-align: center; padding:30px;
  .copyright{font-size:12px; color:#666;}
}

@import 'header.less';
@import 'footer.less';
@import 'checkout.less';
@import 'products.less';
@import 'offers.less';
@import 'buttons.less';
@import 'cart.less';