@import "../lib/bootstrap/less/bootstrap.less";

@images: "../img";

@special-font-color:#CE374A;
@main-bg-color:#FFF;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.secondary-btn{background:url('@{images}/gradients/black-gradient.jpg'); background:#333; color:#FFF; margin-bottom:5px;}
.secondary-btn:hover{color:#FFF; background:#666;}

ul{ margin: 0px; padding: 0px;}

body {
//  background: #d0a28a;
//  background: url('@{images}/large-bg.jpg') #FFF;
  background:#f0f0f0;
  color: #333;
  font-family: Arial;
}

/* Customize container */
@media (min-width: @screen-md) {
  .container {
    max-width: 1021px;
    .center-block();
  }
}

.large-container{
  width:100%;
  background: url('@{images}/main-bg.jpg') no-repeat;
}


.body-container {
//  background:#f5f5f5;
  background: @main-bg-color;
  .make-row();
}

.separator{height:8px; .clearfix();}

.price{
  .before-price{color:#666; font-size:12px; text-decoration: line-through;}
  .actual-price{color:@special-font-color; font-size:14px;}
}

a img{border:0px;}

.add-to-cart-special{
  background: url('@{images}/add-to-cart-special.jpg'); .size(209px, 66px); cursor: pointer;
  &:hover{.opacity(0.9);}
}
.add-to-cart-yellow {
  background: url('@{images}/add-to-cart-yellow.jpg'); .size(210px, 50px); cursor: pointer;
  &:hover{.opacity(0.9);}
}
.buy-now-blue {
  background: url('@{images}/buy-now-blue.jpg'); .size(210px, 50px); cursor: pointer;
  &:hover{.opacity(0.9);}
}
.checkout-green {
  background: url('@{images}/checkout-green.jpg'); .size(210px, 50px); cursor: pointer;
  &:hover{.opacity(0.9);}
}
.checkout-red {
  background: url('@{images}/checkout-red.jpg'); .size(210px, 50px); cursor: pointer;
  &:hover{.opacity(0.9);}
}
.continue-shopping-yellow {
  background: url('@{images}/continue-shopping-yellow.jpg'); .size(210px, 50px); cursor: pointer;
  &:hover{.opacity(0.9);}
}


.main-title{
   font-size: 20px;
   span{color:#EE3d26}
   color:#333;
   padding:10px;
 }

.main-title-black{
  font-size: 20px;
  padding:10px;
  background: url('@{images}/gradients/black-gradient-2.gif');
  color:#FFF;
}

.footer{
  .make-row();
  .border-bottom-radius(10px);
  margin-top:0px; text-align: center; padding:30px;
  .copyright{font-size:12px; color:#666;}
}

@import 'header.less';
@import 'checkout.less';
@import 'products.less';
@import 'offers.less';
@import 'buttons.less';
@import 'cart.less';