.checkout{
  background:#FFF;
  .make-row();
  padding:20px;

  .step{margin:10px 20px;border-bottom:2px solid #EEE; padding:10px 0px;}

  .fancy-red-btn{padding:0px 40px;}
  .main-title{padding-left:0px;}

  .info{color:#666}

  .radio-input{

    margin-top:10px;

    margin-left:20px;

    input{margin-right:10px}

    label{color:#333; font-weight: normal; cursor: pointer;}

  }

  .payment-offer{
    margin:0px 43px;
    font-size:14px;
    strong{
      font-size:15px;
      color:#A64341;
    }
  }
}