.header {
  .make-row();
  height: 250px;

  @media(min-width:@screen-sm) {
    height: 291px;
    background: url('@{images}/water-splash.png') no-repeat;
  }

  // Left header
  .left-header{
    .make-md-column(4);

    .call-us{background: url('@{images}/call-us-header.png') no-repeat;.size(119px, 145px);}
    .call-us{
      @media(max-width:@screen-md) {
        display:none;
      }
    }
  }

// Middle header
  .middle-header{
    .make-md-column(4);
    .logo{ img{margin: 0px auto; margin-top:40px;} }
  }

  // Right header
  .right-header{
    .make-md-column(4);

    @h:45px;

    .tools{
      float:right;
      background: #FFF;
      font-size:20px;
      color:#666;
      padding:5px 15px;
      border-bottom:4px solid #DDD;
      cursor: pointer;
      height:@h;
      &:hover{color:#999; background: #EEE;}
    }
    .change-currency{

      background:#FFF;
      padding:5px 10px;
      float:right;
      border-bottom:4px solid #DDD;
      border-left:1px solid #DDD;

      label{
        display: block;
        float:left;
        margin-right:10px;
        position: relative;
        top:4px;
        color:#666;
        font-size:14px;
      }
      select{
        display: block;
        width:80px;
        height:28px;
        float:left;
        font-size:12px;
      }

      overflow: hidden;
      width:180px;
      height:@h;
    }
  }

  .small-screen-menu{
    select{
      @media(min-width:@screen-sm) {
        display:none;
      }
    }
  }

  // Menu
  .menu{
    .make-md-column(12);
    position: relative;
    top:2px;
    @media(max-width:@screen-sm) {
      display:none;
    }

    ul {
      list-style: none;
      .make-row();

      li a{
        .make-sm-column(12 / 7); text-align: center; color:#FFF; text-decoration: none; padding:10px 0px;
        font-family: @font-family-sans-serif;
        font-size:18px;
        top:40px;
        font-family:Arial;
        font-size:18px;
        font-style:normal;
        line-height:24px;
        @media(max-width:@screen-md) {
          font-size:14px;
        }
      }

      li a:hover{top:20px; padding:20px 0px;}

      li a.active{top:0px; padding:30px 0px;}

      .simple{
        background:#FFF;
        color:#333;
        span,b,strong{display: none;}
        @media(min-width:@screen-md) {
          background:#FFF;
          color:#333;
          font-size:15px;
          font-weight:bold;
          line-height:20px;
          height:44px;
          padding:13px 0px 7px 0px;
          b{font-weight: normal; font-size:18px; color:#EE3D26; display:none;}
          strong{font-weigh:normal; font-size:11px; display:none;}

          &.semi-active{top:12px; padding:20px 0px 10px 0px; top:22px; padding:13px 0px 7px 0px; height:inherit;
            b,strong{display:inline}}

          &:hover, &.active{top:12px; padding:17px 0px 13px 0px; height:inherit;
            b,strong{display:inline}
          }
        }
      }
    }
  }
}



#sticky-menu{display:none; position: fixed; top:0px;

  z-index: 1000;
  ul{
    list-style: none;

    width: 1021px;

    li a{
      background:#333;
      float:left;
      width:100 / 7%; text-align: center; color:#FFF; text-decoration: none; padding:15px 0px;
      font-family: @font-family-sans-serif;
      font-size:18px;
    }
    .simple{
      background:#EEE;
      color:#333;
      font-size:15px;
      font-weight:bold;
      line-height:25px;
    }
  }
}