.textdn{
  background:#EEE !important;
  color:#333 !important;
  width:500px !important;
  border-left:8px solid #EE3D26 !important;
  border-bottom:1px solid #DDD !important;
  border-right:2px solid #333 !important;
  span{color:@special-font-color}
  font-family: Verdana !important;
}


.grid-products{

  .make-row();
  background: #FFF;
  padding:20px 0px;

  .product {
    .make-md-column(3);
    padding:0px;
    position: relative;
    background:#FFF;
    margin:20px 40px;

    margin-bottom:20px;
  }

  .info{ text-align: center;

    left:0px; position: absolute;
    bottom: 37px;
    background: fade(#FFF, 80%);
    width:100%; padding:10px 15px;
    display:inline-block;
    .title a{font-size:16px; color:#333;}
  }

  img{ margin: 0px auto; height:180px; width:350px;}

  .buttons{

    div{
      .make-md-column(6);
      text-align: center;
      padding:10px;

      font-size:12px;// Comment this for big
    }
    .add-to-cart{
      .add-to-cart-btn;
    }
    .buy-now{
      .buy-now-btn;
    }
    .in-cart{
      .in-cart-btn;
    }
    .show-details{
      .buy-now-btn;
    }
  }
}



.carousel-products{

  background:#FFF;
  .make-row();
  padding-bottom:10px;

  .owl-carousel{margin-top:20px;}
  .item{
    margin: 3px;
  }
  .item-info{
    position: absolute; bottom: 0px; background: fade(#FFF, 80%); width:100%; padding:10px 15px; font-size:14px;
    display:inline-block;

    a{ color:#333; font-size:16px; }
  }
  .item img{
    display: block;
    width: 100%;
    height: auto;
  }
}





.fancy-products{

  .make-row();
  padding:0px;

  .small-product {
    .make-md-column(2.1);
    margin-left:15px;
    .image{height:120px;}
    .buttons div, .buttons a{font-size:9px;}
    a:hover{text-decoration: none;}
    img{width:179px; height:120px;}
  }

  .big-product{
    .make-md-column(5);
    img{width:422px; height:288px; margin: 0px auto;}
    .title a{color:#333; font-size:18px;}
  }

  .product {
    padding:0px;
    position: relative;
    background:#FFF;
    .box-shadow(0px 5px 5px #CCC);

    margin-bottom:20px;
  }

  .info{ text-align: center;

    left:0px; position: absolute;
    bottom: 40px;
    background: fade(#FFF, 80%);
    width:100%; padding:10px 15px;
    display:inline-block;
  }

  img{ margin: 0px auto;}

  .buttons{
    div, a{
      .make-md-column(6);
      text-align: center;
      padding:10px;
    }
    .add-to-cart{
      .add-to-cart-btn;
    }
    .buy-now{
      .buy-now-btn;
    }
    .in-cart{
      .in-cart-btn;
    }
    .show-details{
      .buy-now-btn;
    }
  }
}




.main-product{
  background: url('@{images}/box-bg-1.jpg')  no-repeat right #FFF;
  .make-row();
  padding:20px 0px;

  .image{
    .make-md-column(5);

    img{width:100%;}
  }
  .info{.make-md-column(5);}
  .row{
    font-size:14px;
    margin-bottom:10px;
    .key{float:left; font-weight:bold; margin-right:5px;}
    .value{float:left;}
  }

  .add-to-cart{
    margin-top:20px;
    .add-to-cart-yellow;
  }
  .buy-now{
    .buy-now-blue;
  }
  .in-cart{
    .shopping-cart-yellow;
  }
  .show-details{
    display:none;
  }
}